@font-face {
    font-family: Pixel1;
    src: url(PearSoda.ttf)
}

body {
    font-family: Pixel1;
}

ul {
    list-style: none;
    width: 140px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    font-size: 140%;
}

li a {
    display: block;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #555555;
    color: white;
}

.icon {
    width: 30%;
    height: 20%;
    float: left;
}